.modalWrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 27%);
  }

  .block {
    padding: 27px 30px 57px 30px;
    z-index: 1;
    background: white;
    width: 100%;

    >div:nth-child(2) {
      overflow: auto;
      max-height: calc(100vh - 109px);
    }

    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: var(--color-dark);
      margin: 20px 0;
    }

    >p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: rgba(51, 51, 51, 1);
      margin-bottom: 20px;
    }

    .img {
      cursor: pointer;
    }

    .close {
      display: flex;
      max-height: 20px;
      justify-content: flex-start;

      img {
        cursor: pointer;
        width: auto;
        height: 20px;
      }
    }
  }
}

@media (min-width: 960px) {
  .modalWrap {
    align-items: center;

    .close {
      height: 14px;
      margin-bottom: -18px;
      margin-left: calc(100% - 14px);
      cursor: pointer;
      z-index: 1;
      position: relative;

      img {
        height: 14px !important;
        width: auto;
      }
    }

    .block {
      padding: 40px 30px 36px 30px;
      max-width: 375px;
      margin: auto;

      h4 {
        margin: 0 0 20px 0;
      }

      >p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: rgba(51, 51, 51, 1);
        margin-bottom: 20px;
      }

      .img {
        cursor: pointer;
      }
    }
  }
}
