.logo {
  width: 100%;
  max-width: 315px;
  height: 55px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 1.5em;

  img {
    max-width: 315px;
    height: 55px;
    width: auto;
  }
}

@media (min-width: 960px) {
  .logo {
    max-width: 404px;
    height: 70px;
    position: relative;
    margin-bottom: 0;
  }

  .logo:not(.showInDesk) {
    display: none;
  }
}
